@charset "UTF-8";
/* ╨е╨╗╨╡╨▒╨╜╤Л╨╡ ╨║╤А╨╛╤И╨║╨╕
================================*/
.dd-pad_top {
  padding-top: 20px; }

.dd-brad-cramp a, .dd-brad-cramp span {
  font-size: 15px;
  font-weight: 300;
  font-family: "pfdindisplaypro-reg";
  display: inline-block; }
.dd-brad-cramp a {
  color: #2973aa;
  border-bottom: 1px dashed #A0A0A0; }
.dd-brad-cramp span {
  color: #010101; }
.dd-brad-cramp .dd-str_bc {
  background: url(./img/stbc.png) no-repeat top center;
  width: 14px;
  height: 5px;
  margin-left: 11px;
  margin-right: 11px; }

.dd-calc a {
  font-size: 15px;
  font-weight: 300;
  font-family: "pfdindisplaypro-reg";
  display: inline-block;
  color: #2973aa;
  border-bottom: 1px dashed #A0A0A0; }

.dd-wr_calc {
  display: inline-block;
  background: url(./img/calc.png) no-repeat left center;
  padding-left: 32px;
  height: 25px; }

.dd-wr_calc_2 {
  margin-left: 16px;
  background: url(./img/calc2.png) no-repeat left center; }

.dd-menu-mobile {
  text-align: right;
  background: #2973AA;
  padding: 10px; }
  .dd-menu-mobile img {
    cursor: pointer; }

.dd-logo_h {
  display: none; }

.js-but {
  display: inline-block; }

.dd-header-top {
  background: #fff;
  padding: 10px 0px; }

#js-menu {
  display: none; }

.dd-menu-top_h {
  text-align: center; }
  .dd-menu-top_h li a {
    font-family: "pfdindisplaypro-reg";
    font-weight: 300px;
    font-size: 22px;
    padding: 10px;
    color: #353535;
    display: block;
    border-bottom: 1px solid grey; }
  .dd-menu-top_h li a:hover {
    color: #2973aa; }

.dd-phone_h {
  text-align: center;
  padding-top: 5px; }
  .dd-phone_h span:first-child {
    font-family: "pfdindisplaypro-reg";
    font-weight: 700;
    color: #4887b7;
    font-size: 17px; }
    .dd-phone_h span:first-child span {
      font-weight: 700;
      color: #4887b7;
      font-size: 28px; }
  .dd-phone_h span:last-child {
    font-family: "pfdindisplaypro-reg";
    color: #626262;
    font-size: 15px;
    font-weight: 300; }

/* menu bottom
========================*/
.dd-header-bottom {
  background: #2973AA;
  padding: 10px 0px 10px; }

.dd-menu-bottom {
  text-align: center; }
  .dd-menu-bottom li a {
    color: #fff;
    display: inline-block;
    padding: 7px 19px;
    font-size: 18px;
    font-family: "pfdindisplaypro-reg";
    font-weight: 300;
    border-radius: 20px;
    border: 2px solid #2973AA; }
  .dd-menu-bottom li a:hover {
    border: 2px solid white;
    border-radius: 20px; }

/* ╨и╨░╨┐╨║╨░ ╨╛╤Б╨╜╨╛╨▓╨╜╨╛╨╡
==============================*/
.dd-header-main {
  padding-top: 30px;
  padding-bottom: 36px;
  background: url(./img/smallbg.jpg) no-repeat top center;
  height: 431px;
  position: relative; }

.dd-str {
  position: absolute;
  left: 25%;
  bottom: -25px;
  z-index: 99; }

.dd-box-main_h {
  max-width: 530px; }
  .dd-box-main_h span {
    color: #fff;
    font-family: "pfdindisplaypro-reg";
    display: inline-block; }
  .dd-box-main_h span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  .dd-box-main_h .sp-2_h {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .dd-box-main_h .sp-3_h {
    font-size: 16px;
    margin-top: 15px; }
  .dd-box-main_h .sp-4_h {
    color: #FFBA26;
    font-size: 25px;
    margin-top: 4px;
    letter-spacing: 1px; }
    .dd-box-main_h .sp-4_h span {
      color: #FFBA26; }
  .dd-box-main_h .button_head {
    text-align: center;
    display: inline-block;
    width: 260px;
    height: 49px;
    background-image: linear-gradient(to top, #fd670c 0%, #feb52b 100%);
    box-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
    line-height: 47px;
    font-family: "pfdindisplaypro-reg";
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -1px;
    margin-top: 24px; }
  .dd-box-main_h p {
    color: #fff;
    font-family: "pfdindisplaypro-reg";
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px; }
    .dd-box-main_h p b {
      font-weight: 700; }
    .dd-box-main_h p i {
      font-size: 20px;
      font-weight: 700; }

/* We
================================*/
.section_we {
  background: url(./img/fbg.jpg) no-repeat top center;
  width: 100%;
  background-size: cover;
  padding-top: 60px;
  position: relative; }

.dd-str_2 {
  display: inline-block;
  position: absolute;
  bottom: -26px;
  left: 26%; }

.title_we h2 {
  color: #fff; }
.title_we .dd-transform_wrap {
  margin-top: 20px;
  background: rgba(57, 130, 185, 0.9);
  border-radius: 5px;
  transform: skew(-20deg);
  text-align: center; }
  .title_we .dd-transform_wrap span {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-family: "pfdindisplaypro-reg";
    font-weight: 300;
    padding: 10px;
    transform: skew(20deg); }

.dd-we_box {
  margin: 30px auto;
  max-width: 313px; }
  .dd-we_box span {
    font-family: "pfdindisplaypro-reg";
    color: #fff; }
  .dd-we_box .dd-sp_b_1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase; }
  .dd-we_box p {
    font-family: "pfdindisplaypro-reg";
    color: #fff;
    font-size: 16px;
    font-weight: 300; }
  .dd-we_box .dd-sp_b_2 {
    font-size: 18px;
    text-transform: uppercase; }
    .dd-we_box .dd-sp_b_2 span {
      font-size: 30px;
      color: #fff;
      display: inline-block;
      background: url(./img/yell.png) no-repeat center;
      width: 57px;
      height: 38px;
      text-align: center; }

.dd-box_2 .dd-sp_b_1 {
  font-size: 16px; }
  .dd-box_2 .dd-sp_b_1 b {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500; }
.dd-box_2 p b {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500; }
.dd-box_2 .dd-sp_b_2 {
  margin-top: 15px;
  display: inline-block; }

.dd-box_3 .dd-sp_b_1 {
  font-size: 16px;
  text-transform: unset; }
  .dd-box_3 .dd-sp_b_1 b {
    text-transform: uppercase;
    font-size: 20px; }
.dd-box_3 .dd-sp_b_2 {
  display: inline-block;
  margin-top: 15px; }

.dd-box_4 .dd-sp_b_2 {
  display: inline-block;
  margin-top: 15px; }
  .dd-box_4 .dd-sp_b_2 span {
    text-align: center;
    display: inline-block;
    width: 79px;
    height: 38px;
    background: url(./img/fy.png) no-repeat center; }

.dd-bot_box {
  text-align: center;
  padding-bottom: 25px; }
  .dd-bot_box span {
    color: white;
    font-size: 25px;
    font-weight: 300;
    font-family: "pfdindisplaypro-reg"; }
    .dd-bot_box span b {
      color: #ffba26;
      font-size: 45px;
      font-weight: 700;
      text-transform: uppercase; }

.dd-action {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  font-family: "pfdindisplaypro-reg";
  width: 224px;
  height: 39px;
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center; }

/* ╨Ю╤Б╤В╨╡╨║╨╗╨╡╨╜╨╡╨╜╨╕╨╡ ╨▒╨░╨╗╨║╨╛╨╜╨╛╨▓
===================================*/
.dd-main-title_vid {
  padding: 30px 0px; }
  .dd-main-title_vid h1 {
    text-align: center;
    color: black;
    font-size: 20px; }

.dd-title_view {
  background-color: #2973aa;
  text-align: center;
  width: 261px;
  margin: 0 auto;
  transform: skewX(-15deg);
  padding: 7px 5px;
  border-radius: 8px;
  margin-bottom: 10px; }
  .dd-title_view span {
    font-family: "pfdindisplaypro-reg";
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    transform: skewX(15deg);
    display: inline-block;
    text-transform: uppercase; }

.dd-img_vid {
  text-align: center; }

.dd-txt_vid {
  text-align: left;
  width: 188px;
  margin: 0 auto; }
  .dd-txt_vid span {
    color: #2f2f2f;
    display: inline-block;
    font-family: "pfdindisplaypro-reg";
    font-weight: 300;
    font-size: 15px;
    padding-left: 22px;
    background: url(./img/galka.png) no-repeat left top;
    margin-bottom: 10px; }
  .dd-txt_vid span:last-child {
    background: unset; }
    .dd-txt_vid span:last-child b {
      font-size: 35px;
      font-weight: 700; }
  .dd-txt_vid .mb_none_vid {
    margin-bottom: 25px; }
  .dd-txt_vid .dd-sp4_vid {
    padding-left: 0px; }

.dd-but_txt {
  text-align: center;
  padding-top: 24px; }

.dd-but_txt {
  padding-bottom: 25px; }

.button-my {
  text-align: center;
  display: inline-block;
  width: 124px;
  height: 40px;
  background-image: linear-gradient(to top, #fd670c 0%, #feb52b 100%);
  box-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  font-family: "pfdindisplaypro-reg";
  color: #fff;
  letter-spacing: -1px; }

.button-my:hover {
  background-image: linear-gradient(to top, #ffba26 0%, #ffba26 100%); }

.dd-bottom-txt_vid {
  text-align: center;
  padding: 48px 0px; }
  .dd-bottom-txt_vid p {
    font-size: 16px;
    color: #2f2f2f;
    font-family: "pfdindisplaypro-reg";
    font-weight: 300px; }

.mt2 {
  margin-top: 50px; }

/* ╨С╨╡╨╖ ╨┤╨╛╨┐ ╨┐╨╗╨░╤В╨╡╨╢╨╡╨╣
============================*/
.dd-wrap_bp {
  background: url(./img/fb.jpg) no-repeat top center;
  padding: 0px 0px 50px;
  background-size: cover; }

.dd-img_bp {
  text-align: center;
  margin-top: -29px; }

.dd-title_bp {
  padding-top: 70px;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  font-family: "pfdindisplaypro-reg";
  text-align: center; }
  .dd-title_bp h1 {
    font-size: 35px; }

.dd-slogan_bp {
  text-align: center;
  margin-top: -33px; }
  .dd-slogan_bp span {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    font-family: "pfdindisplaypro-reg";
    text-align: center;
    border-radius: 24px;
    height: 43px;
    text-align: center;
    padding: 0px 24px;
    line-height: 39px; }
  .dd-slogan_bp .button-my {
    margin-top: 15px;
    width: 251px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px; }

.dd-content_pb {
  position: relative; }

.dd-kr_pb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -17px; }

.dd-img-detail_h {
  margin-top: -32px;
  padding-left: 26px;
  padding-bottom: 15px; }
  .dd-img-detail_h span {
    font-weight: 300;
    font-family: "pfdindisplaypro-reg";
    font-size: 13px;
    color: #717171;
    display: inline-block;
    margin-bottom: 10px; }
  .dd-img-detail_h a {
    text-transform: uppercase;
    letter-spacing: 1px; }

.dd-title_h {
  padding-bottom: 22px; }
  .dd-title_h span {
    font-size: 25px;
    text-transform: uppercase;
    color: #2f2f2f;
    font-family: "pfdindisplaypro-reg";
    font-weight: 700; }

.dd-min-box_h {
  background: url(./img/bt.png) no-repeat left top 7px;
  padding-left: 13px;
  margin-bottom: 40px;
  margin-left: 7px; }
  .dd-min-box_h span {
    color: #6488a5;
    font-size: 22px;
    font-weight: 500;
    font-family: "pfdindisplaypro-reg"; }

.dd-bottom-box_h span {
  display: inline-block;
  color: #717171;
  font-size: 15px;
  font-weight: 300; }
  .dd-bottom-box_h span b {
    color: #2f2f2f;
    font-size: 25px;
    font-weight: 700; }
.dd-bottom-box_h span:nth-child(1) {
  margin-bottom: 8px;
  margin-top: 5px; }

.dd-wrap_h {
  width: 260px;
  margin: 0 auto; }

.dd-section_h {
  background: #EDEDED;
  padding-top: 20px;
  padding-bottom: 37px; }

.mt_h {
  margin-top: -8px; }

.dd-main-title_h {
  padding-bottom: 42px;
  padding-top: 25px; }
  .dd-main-title_h h1 {
    font-size: 35px;
    color: #010101; }

.dd-but_h {
  text-align: center; }
  .dd-but_h a {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #010101;
    border: 2px solid #fd7a14;
    padding: 13px 30px;
    border-radius: 25px;
    font-family: "pfdindisplaypro-reg"; }

.dd-section_h_glazing_cold {
  background: #EDEDED url(./img/tbg.png) no-repeat top center; }

.dd-padding_div {
  padding-top: 50px;
  background: #fff; }

.bg-center {
  position: relative; }

.dd-str2_h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -63px; }

/* ╨Ы╤О╨▒╨░╤П ╨┐╤А╨╛╤Д╨╕╨╗╤М╨╜╨░╤П ╤Б╨╕╤Б╤В╨╡╨╝╨░ ╨╜╨░ ╨▓╤Л╨▒╨╛╤А
=====================================*/
.dd-wrap_lp {
  padding-top: 45px;
  padding-bottom: 40px; }

.dd-main-title_lp {
  padding-bottom: 55px; }
  .dd-main-title_lp h1 {
    font-size: 35px;
    color: #010101; }

.dd-box-txt_lp p {
  font-size: 16px;
  color: #2f2f2f;
  font-family: "pfdindisplaypro-reg";
  font-weight: 300; }

.dd-box_lp {
  padding-bottom: 50px;
  text-align: center; }

.dd-box-grey_lp {
  background: url(./img/dd-left.png) no-repeat left top 5px;
  margin-left: 43px;
  margin-top: 29px; }
  .dd-box-grey_lp p {
    padding-left: 20px;
    color: #717171; }

.dd-but_h a:hover {
  background: #FFBA26;
  color: #fff;
  border: 2px solid #FFBA26; }

.dd-div_pad {
  padding-top: 50px; }

.dd-many {
  padding-bottom: 30px;
  background: #fff url(./img/bb2.png) no-repeat left top;
  padding-top: 60px; }

.txt_left {
  padding-bottom: 17px; }
  .txt_left h1 {
    text-align: left; }

/* ╨Ю╤Б╤В╨╡╨║╨╗╨╡╨╜╨╡╨╜╨╕╨╡ ╤Б ╨▓╤Л╨╜╨╛╤Б╨╛╨╝
=================================*/
.dd-box-txt_ov {
  text-align: center;
  background: #F5F5F5; }
  .dd-box-txt_ov span {
    color: #306185;
    font-size: 19px;
    font-family: "pfdindisplaypro-reg";
    font-weight: 700;
    text-transform: uppercase; }

.dd-img-box_balk {
  text-align: center; }

.dd-box-img_ov {
  padding: 28px 0px 24px;
  text-align: center; }

.dd-price-balk {
  background: #fff url(./img/tt.png) no-repeat top center;
  padding: 54px 0px 35px;
  background-size: cover; }

.dd-padding_balk {
  padding-bottom: 48px; }

.dd-box-txt_balk {
  padding-top: 14px; }

.dd-title_wr_balk {
  background: #2973AA;
  display: inline-block;
  padding: 9px 17px;
  transform: skew(-20deg);
  border-radius: 8px;
  position: relative; }
  .dd-title_wr_balk .dd-title_balk span {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: "pfdindisplaypro-reg";
    font-size: 20px;
    font-weight: 500;
    transform: skew(20deg); }

.dd-title_wr_balk:after {
  content: "";
  position: absolute;
  width: 42px;
  height: 22px;
  background: url(./img/strel.png);
  left: 0;
  bottom: -21px; }

.dd-price_balk {
  padding-top: 10px;
  padding-left: 14px; }
  .dd-price_balk span {
    color: #424242;
    font-size: 20px;
    font-weight: 300;
    font-family: "pfdindisplaypro-reg"; }
    .dd-price_balk span b {
      color: #424242;
      font-size: 35px;
      font-weight: 700; }

.dd-txt_balk {
  background: url(./img/pp2.png) no-repeat left top 2px;
  padding-left: 15px; }
  .dd-txt_balk p {
    font-size: 15px;
    color: #2f2f2f;
    font-weight: 300;
    font-family: "pfdindisplaypro-reg";
    padding-bottom: 27px;
    margin-top: 35px; }
  .dd-txt_balk .button-my {
    width: 244px; }

/* ╨Т╤Л╨╜╨╛╤Б ╨▒╨░╨╗╨║╨╛╨╜╨░ 3 ╨▓╨░╤А╨╕╨░╨╜╤В╨░
===============================*/
.str_5 {
  position: relative; }

.dd-str-5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -71px; }

.dd-wrap_tv {
  background: url(./img/br.png) no-repeat top center;
  background-size: cover;
  padding-top: 55px;
  margin-top: 40px; }

.dd-box_tv {
  text-align: center;
  padding-bottom: 46px; }

.dd-title_tv {
  padding-bottom: 53px;
  text-align: center; }
  .dd-title_tv h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    padding-bottom: 16px; }
  .dd-title_tv span {
    font-size: 16px;
    color: #fff;
    font-family: "pfdindisplaypro-reg";
    font-weight: 300; }

.dd-title-box_tv {
  display: inline-block;
  background: #FEC957;
  border-radius: 6px;
  transform: skew(-13deg);
  padding: 7px 20px; }
  .dd-title-box_tv .dd-title-span_tv span {
    transform: skew(13deg);
    display: inline-block;
    font-size: 16px;
    font-family: "pfdindisplaypro-reg";
    font-weight: 500;
    text-transform: uppercase;
    color: #174567; }

.dd-img_tv span {
  font-size: 13px;
  color: #fff;
  font-family: "pfdindisplaypro-reg";
  font-weight: 300;
  padding-right: 8px; }
.dd-img_tv span:last-child {
  font-size: 14px;
  display: inline-block;
  padding-top: 18px; }

.dd-img_tv {
  text-align: center;
  background: url(./img/btv.png) no-repeat top center;
  height: 233px;
  margin-top: -95px; }

.dd-img_txt {
  padding-top: 111px; }

.dd-txt_tv p {
  font-size: 16px;
  color: #fff;
  font-family: "pfdindisplaypro-reg";
  font-weight: 300;
  padding-right: 17px; }

.dd-img_tv_2 {
  background: url(./img/btv2.png) no-repeat top 7px center; }
  .dd-img_tv_2 .dd-img_txt span {
    padding-right: 0; }

.dd-img_tv_3 {
  background: url(./img/btv3.png) no-repeat top 10px center; }

.pl_tv {
  padding-left: 25px; }

.dd-im3 {
  padding-right: 18px; }

.dd-txt_tv2 p {
  padding-right: 0px; }

.dd-bottom_tv p {
  padding-top: 14px;
  font-family: "pfdindisplaypro-reg";
  color: #ffba26;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase; }

.mt0 {
  margin-top: 0 !important;
  padding-top: 20px; }

.dd-bg_grey {
  background: #F5F5F5; }

.wrap-cold-h1_mt {
  margin-top: 17px !important; }

.wrap-first-cold_mt {
  margin-top: 25px !important; }

.wrap-cold-h1_mb {
  margin-bottom: 42px; }

.dd-txt_top_pg {
  text-align: center; }
  .dd-txt_top_pg p {
    padding: 53px 0px 32px;
    font-size: 22px;
    font-weight: 500;
    color: #2f2f2f;
    font-family: "pfdindisplaypro-reg";
    text-transform: uppercase; }
  .dd-txt_top_pg span {
    font-family: "pfdindisplaypro-reg";
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 50px;
    display: inline-block; }

.wrap-cold-h__2 h2 {
  text-align: center !important; }

.dd-min-box_h__2 {
  background: none;
  text-align: center; }
  .dd-min-box_h__2 .dd-sp1_pr {
    text-transform: uppercase;
    font-weight: 700 !important;
    padding-bottom: 25px;
    display: inline-block;
    font-size: 25px; }
  .dd-min-box_h__2 .dd-sp2_pr {
    padding-right: 24px;
    padding-bottom: 15px;
    font-size: 20px; }

.wrap-cold-h1__2 {
  padding-bottom: 50px; }

.dd-bottom-box_h__pr .button-my {
  width: 248px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 7px; }

.dd-img-box_pr img {
  margin: 0 auto; }

.dd-pr_img {
  text-align: center; }

.dd-wrap_pr {
  background: #F5F5F5 url(./img/btr.png) no-repeat top center;
  padding-top: 90px;
  padding-bottom: 30px; }

.dd-ll {
  height: 38px;
  background: url(./img/ll.png) no-repeat top center; }

.dd-ll_2 {
  height: 38px; }

.dd-wrap_zp {
  background: url(./img/bgg.jpg) no-repeat top center;
  background-size: cover;
  padding: 85px 0px;
  z-index: 1; }
  .dd-wrap_zp span {
    display: block;
    text-align: center;
    color: #fff;
    font-family: "pfdindisplaypro-reg"; }
  .dd-wrap_zp span:nth-child(1) {
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 12px; }
  .dd-wrap_zp span:nth-child(2) {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 10px; }
    .dd-wrap_zp span:nth-child(2) b {
      color: #FFBA26;
      display: block;
      font-size: 30px; }
  .dd-wrap_zp span:nth-child(3) {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase; }

.poz-rel_zp {
  position: relative; }

.dd-but_zp {
  position: absolute;
  top: -102px;
  left: 50%;
  transform: translateX(-50%); }

.dd-dfpadding {
  background: #fff !important;
  padding-bottom: 47px; }

.dfwarmtxtbot_dd {
  background-image: url("./img/ggg.png") !important; }

.dd-dfpadding:after {
  display: none !important; }

.section_db-zamer_view_dd {
  background: #F5F5F5 url("./img/db-zamer.png") no-repeat top center !important; }

.dd-box-txt_lp_2 {
  background: #F5F5F5;
  padding-top: 52px;
  padding-bottom: 15px;
  margin-top: 50px; }
  .dd-box-txt_lp_2 .dd-but_zp {
    position: absolute;
    top: -69px;
    left: 50%;
    transform: translateX(-50%); }

.dd-main-title_lp_2 {
  padding-top: 15px; }
  .dd-main-title_lp_2 h1 {
    text-align: left; }

.dftextleft_dd p {
  margin-top: 15px !important; }
.dftextleft_dd span b {
  color: #fff; }

.dfbgcolor1 {
  background: url("./img/bgg6.jpg") no-repeat top center !important;
  background: cover; }

.dfbgcolor2 {
  background: #EDEDED url("./img/bbn.jpg") no-repeat bottom center !important; }

.dfsltop_2 {
  text-align: left; }

.pos-relativ {
  position: relative; }

.dd-vv {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%); }

.dflinksliderbot_2 {
  padding: 24px 0 33px 0 !important; }

@media only screen and (min-width: 480px) {
  .dd-box_h {
    float: left; }

  .dd-wrap_h {
    width: unset;
    margin: 0 auto; }

  .dd-str {
    left: 40%; }

  .dd-str_2 {
    bottom: -26px;
    left: 40%; }

  .dd-box-main_h span:nth-child(1) {
    font-size: 45px; }
  .dd-box-main_h .button_head {
    width: 305px;
    font-size: 19px; }
  .dd-box-main_h p {
    padding-top: 22px; } }
@media only screen and (min-width: 768px) {
  .dd-wrap_h {
    width: 500px;
    margin: 0 auto; }

  .dd-min-box_h {
    margin-left: 18px; }

  .dd-slogan_bp span {
    border: 1px solid #628AA8; }

  .dd-slogan_bp .button-my {
    margin-top: 0; }

  .dd-bottom_box {
    width: 768px;
    margin: 0 auto; }
    .dd-bottom_box .dd-bot_box {
      float: left; }
    .dd-bottom_box .dd_b-1, .dd-bottom_box .dd_b-2 {
      margin-left: 40px; }
    .dd-bottom_box .mt {
      padding-top: 0px; }

  .dd-str {
    left: 45%; }

  .dd-header-main {
    background: url(./img/bigbg.jpg) no-repeat top center; }

  .float_vid {
    float: left;
    width: 262px; }

  .dd-title_view {
    margin-left: 0; }

  .dd-txt_vid {
    text-align: left;
    width: 260px;
    margin: 0 auto;
    padding-top: 27px;
    padding-left: 15px; }

  .dd-but_txt {
    text-align: left;
    padding-top: 6px;
    padding-left: 12px; }

  .mt {
    margin-top: 12px; }

  .dd-main-title_vid h1 {
    font-size: 35px; }

  .mb {
    margin-bottom: 53px !important; }

  .dd-box-wrap {
    width: 524px;
    margin: 0 auto; }

  .dd-min-box_h__2 {
    text-align: left;
    background: url(./img/linepr.png) no-repeat left top 7px; } }
@media only screen and (min-width: 992px) {
  .dd-wrap_zp span:nth-child(2) b {
    display: inline-block;
    font-size: 35px; }

  .dd-min-box_h__2 {
    padding-left: 25px; }

  .dd-header-main_glazing {
    height: 390px !important; }

  .dd-calc {
    text-align: right; }

  .mt2 {
    margin-top: 0; }

  .float_vid {
    float: left;
    width: 227px; }

  .bg-center {
    background: url(./img/bc.png) no-repeat top 103px center; }

  .dd-str_2 {
    bottom: -106px;
    left: 40%; }

  .section_we {
    background: url(./img/bigger.jpg) no-repeat top center;
    width: 100%;
    padding-top: 60px;
    height: 867px; }
    .section_we .we-wrap {
      position: relative;
      min-height: 727px; }
      .section_we .we-wrap .dd-we_box {
        position: absolute; }
      .section_we .we-wrap .dd-box_1 {
        right: -33px;
        top: 66px;
        width: 274px; }
      .section_we .we-wrap .dd-box_2 {
        text-align: right;
        left: -53px;
        top: 166px; }
      .section_we .we-wrap .dd-box_3 {
        top: 428px;
        text-align: right;
        left: -44px; }
      .section_we .we-wrap .dd-box_4 {
        right: -33px;
        top: 378px;
        width: 253px; }

  .dd-menu-mobile {
    display: none; }

  #js-menu {
    display: block; }

  .dd-logo_h {
    display: block; }

  .dd-header-top {
    background: url(./img/bh.png) #2973AA no-repeat top center;
    background-size: cover; }

  .dd-menu-bottom {
    text-align: left; }
    .dd-menu-bottom li {
      display: inline-block;
      margin-left: -20px;
      margin-right: 18px; }
      .dd-menu-bottom li a {
        position: relative; }
      .dd-menu-bottom li a:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 29px;
        right: -4px;
        bottom: 3px;
        background: url(./img/line.png); }
    .dd-menu-bottom li:last-child a:after {
      display: none; }

  .dd-menu-top_h {
    padding-top: 14px; }
    .dd-menu-top_h li {
      display: inline-block;
      margin-left: 27px; }
      .dd-menu-top_h li a {
        font-size: 16px;
        padding: unset;
        color: #353535;
        display: inline-block;
        border-bottom: 1px dashed #353535; }
      .dd-menu-top_h li a:hover {
        color: #2973aa;
        border-bottom: none; }

  .dd-phone_h {
    text-align: left;
    padding-top: unset; } }
@media only screen and (min-width: 1248px) {
  .float_vid {
    float: left;
    width: unset; }

  .section_we .we-wrap .dd-box_1 {
    right: 16px;
    top: 125px;
    width: 317px; }
  .section_we .we-wrap .dd-box_2 {
    left: 39px; }
  .section_we .we-wrap .dd-box_3 {
    left: 54px; }
  .section_we .we-wrap .dd-box_4 {
    right: 32px; }

  .dd-menu-bottom li {
    margin-right: 51px; }
    .dd-menu-bottom li a {
      position: relative; }
    .dd-menu-bottom li a:after {
      right: -20px; }

  .dd-menu-top_h li {
    margin-left: 37px; } }

/*# sourceMappingURL=style-dd.css.map */
